h1{
  margin: 0;
}

main{
  height: 100%;
  padding: 15px;
}

.wrapper{
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.Tasks{
  display: flex;
  list-style-type: none;
  margin-bottom: 10px;
  border-bottom:1px solid #c4c4c4;
  width: 25%;
  align-items: center;
  overflow-wrap: anywhere;
}

.delete{
  margin-left: 5px;
  border: none;
  padding: 0px;
  height: 36px;
  width: 36px;
  background: none;
}

.delete:hover{
  cursor: pointer;
}

.itemText{
  width: 100%;
  margin-left: 5px;
  color: white;
  font-size: 12px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.form {
  display: flex;
  gap: 8px;
}
.button{
  background-color: #6699ff;
  color: white;
  border-radius: 2px;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  
}

.button:hover{
    background-color:#99bbff;
    transition: 0.5s;
}

 